.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 10px;
}
.sectionHeader {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    color: var(--color-system-text-100);
    text-transform: uppercase;
}

.sectionContent {
    color: var(--color-system-text-200);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
}