/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-md);
  padding: var(--size-lg) var(--size-md);
  border-bottom: 1px solid var(--gray-2);
}

/* * */
/* BADGES */

.badges {
  display: flex;
  flex-direction: row;
  gap: var(--size-sm);
}

/* * */
/* NAME AND LOCATION */

.nameAndLocation {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
  align-items: center;
  text-align: center;
}

.stopName {
  font-size: 22px;
  font-weight: 700;
  color: var(--gray-7);
  text-align: center;
}

.operationalStatus_inactive .stopName {
  color: var(--gray-4);
}

.operationalStatus_voided .stopName {
  color: #7d2819;
}

@media (max-width: 600px) {
  .stopName {
    font-size: 18px;
  }
}

.stopLocation {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-5);
}

.operationalStatus_inactive .stopLocation {
  color: var(--gray-3);
}

.operationalStatus_voided .stopLocation {
  color: #7d2819;
}

@media (max-width: 600px) {
  .stopLocation {
    font-size: 14px;
  }
}

/* * */
/* FACILITIES AND LINES */

.facilities,
.lines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-sm);
  max-width: 600px;
}
