/* * */
/* NAME */

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--color-system-text-100);
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  line-height: 1.2;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
