
.title {
	margin-bottom: var(--size-spacing-10);
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-bold);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	gap: var(--size-spacing-10);
	justify-content: start;
}

.item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	aspect-ratio: 1;
	overflow: hidden;
	background: var(--color-system-background-200);
	border-radius: var(--border-radius-md);
}

.item img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	object-fit: contain;
}
