/* * */
/* DEFAULT */

.default {
  font-size: var(--font-size-text);
	font-weight: var(--font-weight-text);
	color: var(--color-system-text-100);
	line-height: 1.2;
}

/* * */
/* HEADING */

.heading {
  font-size: var(--font-size-heading);
	font-weight: var(--font-weight-heading);
	color: var(--color-system-text-100);
}
