/* * */
/* CONTAINER */

.container {
  display: grid;
  grid-template-columns: 8px 1fr auto;
  grid-template-rows: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* * */
/* CIRCLE */

.circle {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 999px;
  background-color: var(--color-alerts-3);
}

/* * */
/* LINE */

.line {
  height: 2px;
  width: 100%;
  background-color: var(--color-alerts-3);
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

/* * */
/* TIME */

.time {
  padding-left: 3px;
  font-size: 10px;
  font-weight: 800;
  color: var(--color-alerts-3);
}

.time span {
  font-weight: 800;
  animation: 2s blink step-start infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0.9;
  }
  50% {
    opacity: 0.4;
  }
}
