/* * */
/* CONTAINER */

.container {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-reference-1);
  opacity: 0.1;
}

/* * */
/* IF SHOULD FILL CONTAINER */

.fill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
