/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  gap: var(--size-lg);
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
}

/* * */
/* COPYRIGHT */

.copyright {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.5;
  text-align: center;
}

/* * */
/* LEGAL MENU */

.legalMenu {
  display: flex;
  flex-direction: row;
  gap: var(--size-lg);
  align-items: center;
  justify-content: flex-end;
}

.legalMenu a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.75;
  transition: opacity 300ms ease;
  text-align: center;
  line-height: 1;
}

.legalMenu a:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .legalMenu {
    flex-direction: column;
  }
}
