/* * */
/* CONTAINER */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--font-family-monospace);

  color: var(--color-system-text-300);

  padding: 3px 0px 2px 0px;
  border-radius: 999px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5pt;
  line-height: 1;
  /* text-wrap: nowrap; */
}

.container:hover {
  color: var(--color-system-text-200);
}

.border{
  padding: 3px 6px 2px 6px;
  background-color: var(--color-system-background-200);
  border: 1px solid var(--color-system-text-300);
}

.border:hover{
  background-color: var(--color-system-background-100);
  border: 1px solid var(--color-system-text-200);
}