/* * */
/* CONTAINER */

.container {
  display: flex;
  background: #000000;
  padding: 60px 30px;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 900px) {
  .container {
    gap: 30px;
  }
}

/* * */
/* GRID */

.grid {
  display: grid;
  grid-template-columns: 400px 1fr;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
