/* * */
/* CONTAINER */

.container {
  display: flex;
  background: #000000;
  padding: 60px 30px;
  flex-direction: column;
}

/* * */
/* GRID */

.grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
