/* FADE OUT CONTAINER */
.fadeOut {
  animation: fadeOut 10s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 1;
  }
}

/* * */

/* PROGESS BAR */

.progressBar{
  width: 100%;
}

/* * */
/* SUBMIT BUTTON CONTAINER */

.submitContainer{
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
}

.submitContainer button {
  width: 100%;
}