/* Probe */
.probeContainer{
  border: 2px solid var(--color-status-ok-border);
}
/* * */
/* ACTION BUTTON */

.actionButton {
    margin-top: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

.actionButton button{
  width: 150px;
}

/* * */
/* Probe DESCRIPTION */

.probeDescription{
 font-size: var(--font-size-text);
 font-weight: var(--font-weight-text);
 color: var(--color-system-text-200);
}

/* * */
/* PROBE TITLE */

.probeTitle{
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  color: var(--color-system-text-100);
}

/* * */
/* FADE OUT CONTAINER */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    display: none;
  }
}

.fadeOut {
  animation: fadeOutb 10s forwards;
}

/* * */
/* POSSIBLE ANSWERS */

.possibleAnswersContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px 0 0 0;
  gap: 10px;
}
.possibleAnswersContainer button:first-child{
  color: red;
}

.possibleAnswersContainer button:nth-child(2){
color: #ffc400
}
.possibleAnswersContainer button:nth-child(3){
  color: #b0c92e
}
  .possibleAnswersContainer button:nth-child(4){
    color: #71d302
}
/* * */
/* PROGESS BAR */

.progressBar{
  width: 100%;
}