/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* * */
/* ANSWERS GRID */

.answersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
}
