/* * */
/* BASE STYLES */

.text {
  font-family: var(--font-inter);
  line-height: 1.2;
}

/* * */
/* DEFAULT */

.default {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray-7);
}

/* * */
/* TITLES */

.h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-7);
}

@media (max-width: 600px) {
  .h1 {
    font-size: 18px;
  }
}

/* * */

.h2 {
  font-size: 22px;
  font-weight: 700;
  color: var(--gray-7);
}

@media (max-width: 600px) {
  .h2 {
    font-size: 18px;
  }
}

/* * */

.h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-7);
}

@media (max-width: 600px) {
  .h3 {
    font-size: 16px;
  }
}

/* * */

.h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-7);
}

.h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-7);
}

.h6 {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-7);
}

/* * */
/* SUBTITLE */

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-5);
}

@media (max-width: 600px) {
  .subtitle {
    font-size: 14px;
  }
}

/* * */
/* MINI-LABEL */

.mini-label {
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: var(--gray-3);
}

@media (max-width: 600px) {
  .mini-label {
    font-size: 11px;
  }
}

/* * */
