.container {
	position: relative;
	height: 100vh;
	overflow: hidden auto;
	scrollbar-width: none; /* Firefox */
	will-change: scroll-position;
	-ms-overflow-style: none; /* IE and Edge */
}

.container::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.content {
	min-height: 100%;
}
