/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-3);
	align-items: flex-start;
	justify-content: flex-start;
}

/* * */
/* NAME */

.name {
	display: -webkit-box;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	overflow: hidden;
	font-size: 16px;
	font-weight: var(--font-weight-semibold);
	color: var(--color-system-text-100);
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.md .name {
	font-size: 15px;
	font-weight: var(--font-weight-bold);
}

.lg .name {
	font-size: 20px;
	font-weight: var(--font-weight-bold);
}


/* * */
/* LOCATION */

.location {
	display: -webkit-box;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	overflow: hidden;
	font-size: 12px;
	font-weight: var(--font-weight-semibold);
	color: var(--color-system-text-300);
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.md .location {
	font-size: 15px;
	font-weight: var(--font-weight-bold);
}

.lg .location {
	font-size: 20px;
	font-weight: var(--font-weight-bold);
}