.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  max-width: 65px;
  min-height: 24px;
  max-height: 24px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  letter-spacing: 1px;
  background-color: var(--gray9);
  border-radius: 999px;
}

.name {
  display: -webkit-box;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  color: var(--reference-1);
  text-align: left;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.container:hover {
  cursor: pointer;
  transform: scale(1.01);
}
