.container {
	display: flex;
	flex-flow: column;
	gap: var(--size-spacing-10);
	align-items: flex-start;
    padding: var(--size-spacing-10);
    border: 1px dashed var(--color-debug);
    border-radius: 10px;
}

.seeMore{
	display: flex;
	gap: 8px;
	align-items: center;
}