/* * */
/* NAME */

.name {
	display: -webkit-box;
	justify-content: flex-start;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.name[data-theme='light'] {
	color: #000;
}

.name[data-theme='dark'] {
	color: #fff;
}

/* * */
/* SIZE */

.name[data-size='md'] {
	font-size: 15px;
	font-weight: 800;
	line-height: 1.3;
}

.name[data-size='lg'] {
	font-size: 20px;
	font-weight: 800;
	line-height: 1.3;
}

/* * */
/* ALIGN */

.name[data-align='left'] {
	align-items: flex-start;
	text-align: left;
}

.name[data-align='center'] {
	align-items: center;
	text-align: center;
}