.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-md);
  padding: var(--size-lg) var(--size-md);
  border-bottom: 1px solid var(--gray-2);
}

.badges {
  display: flex;
  flex-direction: row;
  gap: var(--size-sm);
}

.equipments,
.routes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-sm);
  max-width: 600px;
}
