/* * */
/* CONTAINER */

.container {
	display: flex;
    flex-direction: column;
    gap: var(--size-spacing-5);
    padding: var(--size-spacing-15);
    border-radius: 6px;
    border: 1px solid var(--color-system-border-100);
    background-color: var(--color-system-background-100);
}

/* * */
/* TITLE */

.title {
	display: inline;
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    color: var(--color-status-info-text);
	cursor: pointer;
}

/* * */
/* ICON */

.icon{
    margin-left: 4px;
    margin-bottom: -1px;
	vertical-align: text-bottom;
}