/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--color-system-background-100);
	border-bottom: 1px solid var(--color-system-border-100);
	border-radius: 0;
	transition: all 200ms ease;
}

.container:last-child {
	border-bottom: none;
}

@media (width < 650px) {
	.container {
		border-bottom: unset;
		border-radius: 15px;
	}
}

/* * */
/* SUMMARY */

.summary {
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-5);
	align-items: center;
	justify-content: space-between;
	padding: var(--size-spacing-15);
}