/* SLIDER */
.custom_slider_mark  {
  border-color: #000000;
  background-color: #000000;
}
.custom_slider_thumb {
    border-color: #000000;
    background-color: #000000;
  }
.custom_slider_container{
    margin-bottom: 20px;
}