.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-xs);
}

.dayTitle {
  font-weight: 500;
  font-size: 14px;
}

.daySchedule {
  font-weight: 400;
  font-size: 15px;
}
