/* * */
/* CONTAINER */

.container {
	display: flex;;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

/* * */
/* CONTAINER / MODIFIERS */

.withBottomDivider {
	border-bottom: 1px solid var(--color-system-border-100);
}

/* * */
/* TOP SECTION */

.topSection {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 var(--size-spacing-25);
}

/* * */
/* HEADING WRAPPER */

.headingWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-10);
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding: var(--size-spacing-20) 0;
}

.withPadding .headingWrapper {
	padding-bottom: unset;
}

/* * */
/* HEADING */

.heading {
	font-size: var(--font-size-heading);
	font-weight: var(--font-weight-heading);
	color: var(--color-system-text-100);

	.brand & {
		color: var(--color-primary-black);
	}
}

/* * */
/* SUBHEADING */

.subheading {
	width: 100%;
	max-width: var(--size-max-width-text);
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-text);
	color: var(--color-system-text-200);

	.brand & {
		color: var(--color-primary-black);
	}
}

/* * */
/* CHILDREN WRAPPER */

.childrenWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

/* * */
/* CHILDREN WRAPPER / MODIFIERS */

.withPadding .childrenWrapper  {
	padding: var(--size-spacing-20);
}

.withGap .childrenWrapper  {
	gap: var(--size-spacing-15);
}