/* * */
/* CONTAINER */

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	max-width: var(--size-width-global);
	margin: auto;
	background-color: var(--color-system-background-100);
}

.container.withTopBorder {
	border-top: 1px solid var(--color-system-border-100);
}

.container.withTopPadding {
	padding-top: var(--size-spacing-30);
}

.container.withGap {
	gap: var(--size-spacing-20);
}

.container.withChildrenPadding {
	gap: 0;
}

.container.withoutHeadingOrSubheading {
	padding-top: 0;
}

@media (max-width: 1200px) {
	.container {
		background-color: transparent;
		/* border-top: none; */
	}
	.container.withTopBorder {
		border-top: 1px solid var(--color-system-border-100);
	}
	.container.withGap {
		gap: var(--size-spacing-15);
	}
	.container.withChildrenPadding {
		gap: 0;
	}
}

/* * */
/* HEADING WRAPPER */

.headingWrapper {
	width: 100%;
	padding-left: var(--size-spacing-20);
	padding-right: var(--size-spacing-20);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--size-spacing-10);

}

.headingWrapper.withHeadingNudge {
	padding-left: var(--size-spacing-25);
}

/* * */
/* BACK BUTTON */

.backButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	color: var(--color-system-text-400);
	gap: var(--size-spacing-5);
	margin-bottom: var(--size-spacing-5);
	transition: all 300ms ease;
}

.backButton:hover {
	color: var(--color-system-text-200);
}

.backButtonLabel {
	font-size: 10px;
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: 1;
}

/* * */
/* HEADING */

.heading {
	font-size: var(--font-size-heading);
	font-weight: var(--font-weight-heading);
	color: var(--color-system-text-100);
}

/* * */
/* SUBHEADING */

.subheading {
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-text);
	color: var(--color-system-text-200);
	max-width: var(--size-width-heading);
}

/* * */
/* CHILDREN WRAPPER */

.childrenWrapper {
	width: 100%;
}

.childrenWrapper.withChildrenPadding {
	padding: var(--size-spacing-20);
}

.childrenWrapper.withChildrenNudge {
	padding-left: var(--size-spacing-25);
}