/* * */
/* CONTENT WRAPPER */

.content {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-15);
}

/* * */
/* PARAGRAPHS */

.content p {
	margin: 0;
	font-size: 18px;
	color: var(--color-system-text-100);
	line-height: 1.5;
}

.content p + p {
	margin-top: var(--size-spacing-10);
}

.content p strong {
	font-weight: var(--font-weight-bold);
}

.content p em {
	font-style: italic;
}

/* * */
/* HEADINGS */

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	margin: 0;
	margin-top: var(--size-spacing-20);
	margin-bottom: var(--size-spacing-5);
	font-weight: var(--font-weight-bold);
	color: var(--color-system-text-100);
}

.content h1 {
	font-size: 24px;
}

.content h2 {
	font-size: 22px;
}

.content h3 {
	font-size: 20px;
}

.content h4,
.content h5,
.content h6 {
	font-size: 18px;
}

/* * */
/* LINKS */

.content a {
	color: var(--color-system-text-100);
	text-decoration: underline;
	border-radius: 5px;
}

.content a:hover {
	background-color: var(--color-system-background-300);
}

/* * */
/* QUOTES */

.content blockquote {
	margin: var(--size-spacing-10) 0;
	padding-left: var(--size-spacing-15);
	border-left: 4px solid var(--color-system-border-200);
	color: var(--color-system-text-200);
}
