/* * */
/* CAROUSEL ITEM */

.carouselItem {
    padding-left: 15px;
	min-width: 300px;
}

/* * */
/* DISCLAIMER */

.disclaimer {
	display: block;
	font-size: 12px;
	max-width: var(--size-width-heading);
    color: var(--color-system-text-400);
    padding: 20px;
}

.disclaimer:hover {
    text-decoration: underline;
}