/* * */
/* TABLE */

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-xs);
  padding: var(--size-lg);
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    padding: var(--size-md);
  }
}
