/* * */
/* CONTAINER */

.container {
	width: 100%;
	padding-bottom: var(--size-spacing-60);
}

/* * */
/* TOPIC HEADER */

.topicHeader {
	padding: 0 var(--size-spacing-25);
	padding-bottom: var(--size-spacing-15);
}

@media (max-width: 500px) {
	.topicHeader {
		padding: 0 var(--size-spacing-20);
		padding-bottom: var(--size-spacing-15);
	}
}

/* * */
/* TOPIC LABEL */

.topicLabel {
	color: var(--color-system-text-300);
	font-size: 10px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	padding-bottom: 3px;
}

/* * */
/* TOPIC TITLE */

.topicTitle {
	font-size: var(--font-size-subtitle);
	color: var(--color-system-text-100);
	font-weight: var(--font-weight-bold);
}

/* * */
/* ACCORDION ITEM */

.accordionItem {
	border-bottom: 1px solid var(--color-system-border-100);
}

.accordionItem:first-child {
	border-top: 1px solid var(--color-system-border-100);
}

/* * */
/* ACCORDION CONTROL */

.accordionControl {
	padding: var(--size-spacing-20);
	background-color: var(--color-system-background-100);
}

@media (max-width: 500px) {
	.accordionControl {
		padding: var(--size-spacing-20) var(--size-spacing-15);
	}
}

/* * */
/* ACCORDION LABEL */

.accordionLabel {
	color: var(--color-system-text-100);
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight-nav);
    padding: 0;
}

/* * */
/* ACCORDION CHEVRON */

.accordionChevron {
	color: var(--color-system-text-400)
}

.accordionItem[data-active=true] .accordionChevron {
	transform: rotate(-90deg);
}

/* * */
/* ACCORDION ROOT */

.accordionRoot {
    background-color: var(--color-system-background-100);
}

/* * */
/* ACCORDION CONTENT */

.accordionContent {
    font-size: 14px;
    color: var(--color-system-text-200);
    font-weight: 500;
	padding: var(--size-spacing-20);
	padding-top: 0;
	max-width: var(--size-width-heading);
}

@media (max-width: 500px) {
	.accordionContent {
		padding: var(--size-spacing-20) var(--size-spacing-15);
		padding-top: 0;
	}
}