.mapAndTimetable {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 600px;
  width: 100%;
}

@media (max-width: 900px) {
  .mapAndTimetable {
    grid-template-columns: 1fr;
    grid-template-rows: 400px auto;
  }
}
