/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 60px 30px;
  color: white;
}

@media (max-width: 1100px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

/* * */
/* GROUPS */

.group,
.corporate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

@media (max-width: 1100px) {
  .group,
  .corporate {
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
}

/* * */
/* TITLES */

.group h6 {
  font-size: 18px;
  font-weight: 800;
  color: #fff;
}

@media (max-width: 900px) {
  .group h6 {
    width: 100%;
    text-align: center;
  }
}

/* * */
/* LINKS */

.group a,
.corporate a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0.9;
  transition: all 300ms ease;
}

.corporate a {
  opacity: 0.6;
}

.group a:hover {
  opacity: 1;
  text-decoration: underline;
}

.corporate a:hover {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .group a,
  .corporate a {
    width: 100%;
  }
  .container {
    text-align: center;
  }
}

/* * */
/* VERSION */

.corporate .version {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.3;
  transition: all 300ms ease;
}

.corporate .version:hover {
  opacity: 0.4;
  text-decoration: none;
}
