/* * */
/* CONTAINER */

.container {
	overflow: hidden;
	width: 100%;
	border-radius: 5px;
	border: 1px solid var(--color-system-border-200);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 300ms ease;
	cursor: pointer;
	aspect-ratio: 16 / 9;
	position: relative;
	max-width: 180px;
}

.container:hover {
	transform: scale(1.01);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
}

/* * */
/* ICON */

.icon {
	position: absolute;
	z-index: 1;
	color: transparent;
	transition: all 300ms ease;
	color: var(--color-system-text-200);
}

@media (prefers-color-scheme: dark) {
	.icon {
		color: var(--color-system-text-400);
	}
}

/* * */
/* IMAGE */

.image {
	filter: blur(1px);
	transform: scale(1.1);
	transition: all 300ms ease;
}