

.table thead{
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
}

.table tbody tr td{
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
}

.designationName{
    margin-left: 15px;
}