/* * */

/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-15);
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: var(--size-spacing-30) var(--size-spacing-20);
	color: var(--color-system-text-100);
	background-color: var(--color-system-background-100);
	border: 1px solid var(--color-system-border-100);
	border-radius: var(--border-radius-md);
	transition: all 200ms ease;
}

.container:hover {
	background-color: var(--color-system-background-200);
	border-color: var(--color-system-border-200);
}

.container:active {
	background-color: var(--color-system-background-300);
	border-color: var(--color-system-border-300);
}

@media screen and (width <= 650px) {
	.container,
	.container:hover,
	.container:active {
		padding: var(--size-spacing-15) var(--size-spacing-20);
		background-color: var(--color-system-background-100);
		border: none;
		border-top: 1px solid var(--color-system-border-100);
		border-radius: unset;
	}
	.container:active {
		background-color: var(--color-system-background-300);
	}
	.container:last-child,
	.container:last-child:hover,
	.container:last-child:active {
		border-bottom: 1px solid var(--color-system-border-100);
	}
}

/* * */

/* ICON WRAPPER */

.iconWrapper {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	width: 40px;
	aspect-ratio: 1/1;
}

.iconWrapper svg {
	width: 100%;
	height: 100%;
}

/* * */

/* LABEL */

.label {
	width: 100%;
	font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-subtitle);
	line-height: 1.1;
	color: var(--color-system-text-100);
}

/* * */

/* ARROW WRAPPER */

.arrowWrapper {
	display: flex;
	color: var(--color-system-text-400);
}