/* * */
/* Drawer Content */

.drawerContent{
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-15);
}

/* * */
/* LOGO WRAPPER */

.logoWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--size-spacing-15);
	font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-subtitle);
}

.logoWrapper img {
	width: 112px;
	height: 40px;
}

/* * */
/* NAV LIST */

.navList {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-30);
}

/* * */
/* COMPONENT WRAPPER */

.componentWrapper {
	padding: var(--size-spacing-15);
}

/* * */
/* COMPONENT WRAPPER */

.topBorder {
	border-top: 1px solid var(--color-system-border-100);
}

/* * */
/* Group */

.group {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--color-system-border-100);
}

/* * */
/* Group Label */

.groupLabel {
	margin: 0 var(--size-spacing-15);
	margin-bottom: var(--size-spacing-5);
	font-size: 18px;
	font-weight: var(--font-weight-heading);
	color: var(--color-system-text-100);
}

/* * */
/* Menu Icon */

.menuIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	aspect-ratio: 1/1;
	text-align: center;
	cursor: pointer;
	transition: all 200ms ease;
}

.menuIcon:hover {
	color: var(--color-system-text-200);
}