/* * */
/* CONTAINER */

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* * */
/* HANDLE */

.handle {
	width: 100%;
	max-width: 100px;
	height: 5px;
	background-color: var(--color-system-border-200);
	border-radius: 999px;
	cursor: grab;
}

.handle:active {
	background-color: red;
	cursor: grabbing;
}