/* * */
/* CONTAINER */

.container {
	display: grid;
	grid-template:
		". a a" auto
		"b c c" auto / auto 1fr 1fr;
	align-items: center;
	justify-content: center;
	row-gap: var(--size-spacing-10);
	column-gap: var(--size-spacing-20);
}

@media screen and (max-width: 900px) {
	.container {
		grid-template:
			"b" auto [b_]
			"a" auto [a_]
			"c" auto [c_] / 1fr;
	}
}

/* * */
/* PATTERN SELECTOR EXPLAINER WRAPPER */

.patternSelectorExplainerWrapper {
	grid-area: a;
	justify-self: flex-end;
}

@media screen and (max-width: 900px) {
	.patternSelectorExplainerWrapper {
		margin-top: var(--size-spacing-20);
	}
}

/* * */
/* OPERATIONAL DAY SELECTOR WRAPPER */

.operationalDaySelectorWrapper {
	grid-area: b;
}

/* * */
/* PATTERN SELECTOR WRAPPER */

.patternSelectorWrapper {
	grid-area: c;
}