/* * */
/* TEXT */

.text {
	padding: 0 5px;
	font-size: 18px;
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-100);
}

/* * */
/* DATES WRAPPER */

.datesWrapper {
	display: flex;
	gap: var(--size-spacing-20);
}