/* * */
/* FILTERS & TOGGLE FILTERS */

.filters,
.toggleFilters {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-lg);
  padding-left: var(--size-lg);
  padding-right: var(--size-lg);
}

@media (max-width: 700px) {
  .filters {
    margin-top: var(--size-lg);
    grid-template-columns: 1fr;
  }
}

/* * */
/* TOGGLE FILTERS */

.toggleFilters {
  grid-template-columns: 1fr;
}

/* * */
/* TOGGLE FILTERS BUTTON */

.toggleFiltersButton {
  color: var(--reference-1);
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 300ms ease;
}

.toggleFiltersButton:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.toggleFiltersButton.isOpen {
  background-color: var(--reference-0);
}

/* * */
/* ONLY ON DESKTOP */

.onlyOnDesktop {
  display: block;
}

@media (max-width: 700px) {
  .onlyOnDesktop {
    display: none;
  }
}

/* * */
/* ONLY ON MOBILE */

.onlyOnMobile {
  display: none;
}

@media (max-width: 700px) {
  .onlyOnMobile {
    display: block;
  }
}
