/* * */
/* INNER WRAPPER */

.innerWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: var(--size-spacing-20);
}

@media only screen and (max-width: 900px) {
	.innerWrapper {
		grid-template-columns: 1fr;
	}
}