.container {
  display: grid;
  grid-template-columns: 20px 1fr auto;
  align-items: center;
  justify-content: center;
  gap: var(--size-xs);
}

.badge {
  display: flex;
  /* width: 100%; */
  /* border: 1px solid black; */
  /* aspect-ratio: 1; */
  /* border-radius: 999px; */
  font-size: 14px;
  font-weight: 700;
  color: black;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  background-color: var(--gray1);
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.daySchedule {
  font-weight: 400;
  font-size: 15px;
}
