/* * */
/* CONTAINER */

.container {
	display: flex;;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius-lg);
}

@media screen and (width <= 500px) {
	.container {
		border-radius: 0;
	}
}

/* * */
/* CONTAINER / VARIANTS */

.container.default {
	background-color: var(--color-system-background-100);
	border: 1px solid var(--color-system-border-100);
}

.container.brand {
	background-color: var(--color-brand);
}

.container.muted {
	background-color: var(--color-system-background-100);
}

.container.standout {
	background-color: var(--color-system-background-100);
}

@media screen and (width <= 500px) {
	.container.default {
		background-color: var(--color-system-background-200);
		border: none;
	}
}

/* * */
/* CONTAINER / MODIFIER */

.forceOverflow {
	overflow: hidden;
}