/* * */
/* CONTAINER */

.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: var(--size-spacing-20) 0;
}

.container.isFirstStop {
	padding: 0;
	border-top-left-radius: 999px;
	border-top-right-radius: 999px;
}

.container.isLastStop,
.container.isLastStop.isSelected {
	align-self: flex-start;
	padding-bottom: 1px;
	border-bottom-right-radius: 999px;
	border-bottom-left-radius: 999px;
}

.container.isSelected {
	padding: var(--size-spacing-20) 0;
}

.container.isFirstStop.isSelected {
	padding: 0;
}

.container.isLastStop.isSelected {
	padding-bottom: 0;
}

/* * */
/* MARKERS / DEFAULT */

.marker {
	width: 100%;
	aspect-ratio: 1;
	margin: 6px;
	border-radius: 999px;
	transition: all 200ms ease;
}

.isFirstStop .marker {
	transform: translate(0, 2px);
}

.isSelected .marker {
	margin: 4px;
}

/* * */
/* MARKERS / FAVORITE */

.marker.favorite {
	margin: 3px;
	margin-top: 0;
	transform: translate(0, -3px);
}

.isFirstStop .marker.favorite {
	transform: none;
}

/* * */
/* MARKERS / STOP SEQUENCE */

.marker.stopSequence {
	width: 100%;
	aspect-ratio: 1;
	margin: 0;
	font-size: 12px;
	font-weight: var(--font-weight-extrabold);
	text-align: center;
	border-radius: 999px;
	transition: all 200ms ease;
	transform: translate(0, 2px);
}

.isFirstStop .marker.stopSequence {
	transform: translate(0, 6px);
}

.isLastStop .marker.stopSequence {
	transform: translate(0, -6px);
}