/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  border-radius: 0;
  border-bottom: 1px solid var(--color-system-border-100);
  cursor: pointer;
  transition-property: box-shadow, transform, margin, border-color, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  width: 100%;
}

.container:last-child {
  border-bottom: none;
}

.container:has(+ .selected) {
  border-bottom-color: transparent;
}

@media (hover: hover) {
  .container:hover {
    background-color: var(--color-system-background-200);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    border-bottom-color: transparent;
  }
  .container:has(+ .container:hover) {
    border-bottom-color: transparent;
  }
}

@media (max-width: 1200px) {
	.container {
    /* border-bottom: 1px solid var(--color-system-border-200); */
    background-color: var(--color-system-background-200)
	}
  .container:hover {
    background-color: var(--color-system-background-300);
  }
}

.container.passed {
  opacity: 0.5;
}

/* * */
/* SELECTED */

.selected,
.selected:hover {
  background-color: var(--color-system-background-300);
  box-shadow: var(--box-shadow-large);
  transform: scale(1.03);
  border-radius: 10px;
  border-bottom-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* * */
/* REALTIME STATUSES */

.container.passed {
  opacity: 0.35;
}
.container:hover.passed {
  opacity: 0.5;
}
.container.selected.passed {
  opacity: 1;
}

/* .scheduled {
}

.arriving_now {
}

.realtime {
} */

/* * */
/* TRIP SUMMARY */

.tripSummary {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 2px;
  padding: 10px;
}

/* * */
/* ARRIVAL ESTIMATE */

.arrivalEstimate {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.passed .arrivalEstimate p {
  font-size: 15px;
  font-weight: 600;
  color: var(--color-system-text-100);
}

.arriving_now .arrivalEstimate p {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-realtime-100);
}

.realtime .arrivalEstimate p {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-realtime-100);
}

.scheduled .arrivalEstimate p {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-system-text-100);
}

/* * */
/* TRIP DETAILS */

.tripDetails {
  display: none;
  padding: 10px;
}

.selected .tripDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top: 1px solid var(--color-system-border-200);
}

.localitiesPerLine {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-system-text-300);
}

.localities {
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  line-height: 1.5;
}

.localitySeparator {
  color: var(--color-system-border-200);
}

.localityName {
  color: var(--color-system-text-300);
}

/* * */
/* TEST DATA */

.testData {
  padding: 10px;
  border: 1px dashed var(--color-debug);
  border-radius: 3px;
}

.testData,
.testData p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  user-select: text;
  -webkit-touch-callout: default;
  cursor: text;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-system-text-300);
}

