/* * */
/* CONTENT */

.nav {
	position: sticky;
	top: 70px;
	height: fit-content;
	color: var(--color-system-text-300);

	& ul {
		display: flex;
		flex-direction: column;
		gap: var(--size-spacing-10);
		padding-inline-start: 20px;
		list-style: none;
	}
}

.nested {
	padding-left: var(--size-spacing-15);
}

.active {
	color: var(--color-system-text-100);
}

@media (width <= 900px) {
	.nav {
		display: none;
	}
}