/* * */
/* CONTAINER */

.container {
	overflow: hidden;
	width: 100%;
	border-radius: 5px;
	border: 1px solid var(--color-system-border-100);
	background-color: var(--color-system-background-100);
	position: relative;
}

/* * */
/* METRICS WRAPPER */

.metricsWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-15);
	padding: var(--size-spacing-20);
	z-index: 2;
}

/* * */
/* ROW WRAPPER */

.rowWrapper {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

/* * */
/* REALTIME VALUE WRAPPER */

.realtimeValueWrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: var(--size-spacing-20);
}

/* * */
/* REALTIME VALUE WRAPPER ITEM */
.realtimeValueWrapperItem {
	position: relative;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 0.5s;

	&.selected {
		opacity: 1;
	}
}

/* * */
/* VALUE */

.value {
	line-height: 1;
	font-weight: var(--font-weight-extrabold);
	color: var(--color-status-info-text);
}

.primary .value {
	font-size: 30px;
}

.secondary .value {
	font-size: 20px;
}

/* * */
/* LABEL */

.label {
	color: var(--color-system-text-100);
	font-weight: var(--font-weight-bold);
}

.primary .label {
	font-size: 16px;
}

.secondary .label {
	font-size: 14px;
}

/* * */
/* GRAPH WRAPPER */

.graphWrapper {
	width: 100%;
	z-index: 1;
	opacity: 0.75;
	margin: -5px; /* Fixed margins set by Recharts */
	width: calc(100% + 10px); /* Fixed margins set by Recharts */
}


/* * */
/* POPOVER */

.popoverAnchor {
	display: flex;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 18px;
	height: 18px;
	z-index: 3;
	color: var(--color-system-text-400);
}

.popoverText,
.popoverLink {
	font-size: var(--font-size-muted);
	font-weight: var(--font-weight-muted);
	color: var(--color-system-text-200);
}

.popoverLink {
	text-decoration: underline;
}