/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 80px 30px;
  text-align: center;
  font-weight: 600;
  line-height: 1.3;
  border-top: 1px solid var(--gray-2);
}

/* * */
/* ICON  */

.icon {
  color: var(--current-time-100);
}

/* * */
/* TITLE */

.title {
  font-size: 30px;
  color: var(--reference-1);
  text-transform: uppercase;
}

/* * */
/* SUBTITLE */

.subtitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--reference-1);
}

/* * */
/* RETRY MESSAGE */

.retryMessage {
  color: var(--gray-6);
  font-size: 15px;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 999px;
}
