.container {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: #ffffff;
  padding: var(--size-md) var(--size-lg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .header {
    border-radius: 0px;
    padding: var(--size-md);
  }
}

.headerLeftSection,
.headerRightSection {
  display: flex;
  align-items: center;
  gap: var(--size-md);
}

.headerIcon {
  display: flex;
}

.headerTitle {
  font-size: 20px;
  line-height: 1.3;
}

@media (max-width: 600px) {
  .headerTitle {
    font-size: 18px;
  }
}

.wrapper {
  overflow: hidden;
  border: 1px solid var(--gray3);
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--reference-0);
}

.isLoading,
.isError {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.content {
  padding: 0;
}
