.comboboxOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.stopInfo {
  display: flex;
  flex-direction: column;
}

/* .selectedStop {
  background-color: blue;
} */

/* * */
/* COORDINATES RESULT */

.coordinatesResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-sm);
  padding-top: 5px;
  padding-bottom: 5px;
}

.coordinatesResultLabel {
  font-size: 16px;
  font-weight: 600;
}
