/* * */
/* CONTAINER */

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	height: 70px;
	min-height: 70px;
	max-height: 70px;
	cursor: pointer;
	user-select: none;
}