.table tr {
    height: 40px;
}

.cell {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

.cell.active {
    background-color: var(--color-brand);
    border-radius: var(--border-radius-md);
}