/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 var(--size-md);
  gap: 8px;
}

/* * */
/* TITLE */

.title {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
}

/* * */
/* IS OPEN & IS CLOSED */

.isOpen,
.isClosed {
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.isClosed {
  color: var(--red-7);
}

.isOpen {
  color: var(--green-7);
}

/* * */
/* SCHEDULE */

.schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* * */
/* DAY AND HOURS */

.day,
.hours {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  user-select: text;
  -webkit-touch-callout: default;
  cursor: text;
}
