

.validity{
    font-size: 10px;
    font-style: semibold;
    font-weight: 600;
    color: var(--color-system-text-300);
    text-align: left;
}

.images {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100px;

    & img {
        height: 100%;
    }
}

@media screen and (width <= 768px) {
    .content {
        grid-template-columns: 1fr;
    }

    .card {
        display: flex;
        gap: 20px;
        align-items: center;

        & img {
            height: 80px;
        }
    }
}