/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}

/* * */
/* COLUMN */

.column {
  display: flex;
  flex-direction: column;
}

/* * */
/* HOURS & MINUTES */

.hour,
.minute {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 7px 10px;
  min-width: 35px;
  line-height: 1;
}

.column:first-child .hour,
.column:first-child .minute {
  justify-content: flex-start;
  padding-left: 15px;
}

.column:last-child .hour,
.column:last-child .minute {
  padding-right: 20px;
}

/* * */
/* HOURS */

.hour {
  font-weight: 800;
  background-color: #000;
  color: #fff;
}

.column:first-child .hour {
  font-weight: 700;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.column:last-child .hour,
.column:last-child .minute {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

/* * */
/* MINUTES */

.minute {
  font-weight: 500;
}
