.mapOverlay {
    position: absolute;
    left: 15px;
    bottom: 12px;
    display: flex;
    gap:2px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-system-background-100);
    border-radius: 1000px;
    padding: 4px 8px 4px 4px;
    color: #00CD32;
    font-size: 10px;
    font-weight: 600;
    z-index: 99999;
    height: 20px;
}