.contentRow {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-spacing-5);
	align-items: center;
	justify-content: center;
}

.contentRow > * {
	flex: 0 0 calc((100% - (2 * var(--size-spacing-5))) / 3);
}