.contentRow {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-spacing-5);
	align-items: flex-start;
	justify-content: center;
}

.contentRow > * {
	flex: 0 0 calc((100% - 2 * var(--size-spacing-5)) / 3);
}

@media (width <= 1024px) {
	.contentRow > * {
		flex: 0 0 calc((100% - var(--size-spacing-5)) / 2);
	}
}

@media (width <= 768px) {
	.contentRow > * {
		flex: 0 0 100%;
	}
}