.title{
  color: var(--color-system-text-100);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.lineContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
    gap: 15px;
    width: 100%;
}