/* * */
/* ONLY ON DESKTOP */

.onlyOnDesktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--size-lg);
  padding-left: var(--size-lg);
  padding-right: var(--size-lg);
}

@media (max-width: 1050px) {
  .onlyOnDesktop {
    display: none;
  }
}

/* * */
/* ONLY ON MOBILE */

.onlyOnMobile {
  display: none;
  position: relative;
}

@media (max-width: 1050px) {
  .onlyOnMobile {
    display: block;
  }
}

@media (max-width: 700px) {
  .onlyOnMobile {
    display: block;
    width: 100vw;
  }
}

/* * */
/* INDICATORS */

.indicators {
  position: static;
  margin-top: 20px;
}

.indicator {
  width: 8px;
  height: 8px;
  opacity: 1;
  transition: all 250ms ease;
  background-color: var(--reference-0);
}

.indicator[data-active='true'] {
  background-color: var(--reference-1);
}
