.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.card {
    border: 1px solid var(--color-system-border-100);
    padding: 1.5rem 1rem;

    & h2 {
        opacity: 1;
        font-size: 20px;
        font-weight: 700;
        font-style: Bold;
    }

    & p {
        color: var(--color-system-text-200);
        font-size: 14px;
        font-weight: 400;
        font-style: Regular;
    }
}

.images {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    height: 80px;

    & img {
        height: 100%;
    }
}

@media screen and (max-width: 640px) {
    .content {
        grid-template-columns: 1fr;
    }
}