/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-30);
	align-items: flex-start;
	flex-wrap: wrap;
}

/* * */
/* METRIC WRAPPER */

.metricWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-5);
	max-width: 300px;
}

/* * */
/* BIG NUMBER */

.bigNumberWrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: var(--size-spacing-10);
}

.bigNumber {
    font-size: 60px;
    font-weight: var(--font-weight-bold);
	line-height: 1;
}

/* * */
/* LIVE ICON */

.liveIcon {
    margin-top: var(--size-spacing-5);
}

/* * */
/* SUBTITLE */

.subtitle {
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--color-system-text-100)
}