.container{
  width:100%;
  padding: var(--size-spacing-15);
}


.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--size-xs);
  font-size: 12px;
  font-weight: 600;
  color: var(--color-system-text-400);
  text-align: center;
  cursor: pointer;
  border-radius: 999px;
  transition: all 300ms ease;
}