/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-20);
	padding: var(--size-spacing-20);
}

/* * */
/* INTRO */

.introWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-10);
}

.introTitle {
	font-size: 26px;
	font-weight: var(--font-weight-bold);
	color: var(--color-primary-black);
}

.introSubtitle {
	font-size: 14px;
	font-weight: var(--font-weight-medium);
	color: var(--color-primary-black);
	opacity: 0.75;
}

/* * */
/* SEARCH WRAPPER */

.searchWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-15);
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.searchInputWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: stretch;
	justify-content: flex-start;
	width: 100%;
}