/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

/* * */
/* NUMBERS */

.hours, .minutes, .seconds {
	font-size: 120px;
	font-weight: 800;
	line-height: 1;
	color: #000;
}


.seconds {
	font-size: 60px;
	margin-top: 45px;
	opacity: 0.25;
}