.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-md);
  padding: var(--size-lg);
}

.stopNameLocationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-sm);
}

.info {
  display: flex;
  flex-direction: row;
  gap: var(--size-sm);
}

.stopName {
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.location {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray7);
  line-height: 1;
}

.equipments {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-sm);
}
