/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--size-lg);
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--gray3);
  background-color: var(--reference-0);
  z-index: 200;
}

/* * */
/* DESTINATION LABEL */

.destinationLabel {
  color: var(--gray6);
  font-size: 15px;
  font-weight: 600;
}
