/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
  padding: var(--size-lg);
}

/* * */
/* GROUP WRAPPER */

.groupWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

/* * */
/* GROUP TITLE */

.groupTitle {
  border-bottom: 3px solid black;
  display: flex;
}

.groupTitle p {
  background: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 15px 8px 15px;
  font-weight: 700;
  line-height: 1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: var(--size-md);
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
