/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-5);
}

/* * */
/* COVER IMAGE */

.coverImage {
	aspect-ratio: 16 / 9;
	overflow: hidden;
	width: 100%;
	border-radius: 5px;
	border: 1px solid var(--color-system-border-100);
	background-color: var(--color-brand);
}

/* * */
/* CONTENT */

.content {
	padding: var(--size-spacing-5);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* * */
/* TITLE */

.title {
    font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-subtitle);
	color: var(--color-system-text-100);
}

/* * */
/* DESCRIPTION */

.description {
    color: var(--color-system-text-200);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);;
}