/* * */
/* CONTAINER */

.container {
  display: grid;
  grid-template-columns: 75px 1fr 100px;
  gap: 2px;
}

/* * */
/* COLUMNS */

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--reference-0);
  background-color: var(--reference-1);
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  padding: 8px;
}

.column:first-child {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  padding-left: 12px;
}

.column:last-child {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
