/* * */
/* FEATURED WRAPPER */

.featuredWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
  background-color: var(--color-system-background-100);
}

@media only screen and (max-width: 900px) {
	.featuredWrapper {
		grid-template-columns: 1fr;
	}
}

/* * */
/* QUICK SEARCH WRAPPER */

.quickSearchWrapper {
	background-color: var(--color-brand);
}

@media only screen and (max-width: 900px) {
	.quickSearchWrapper {
		display: none;
	}
}

/* * */
/* CAROUSEL WRAPPER */

.carouselWrapper {
	aspect-ratio: 16/9;
}