/* * */
/* INTRO WRAPPER */

.introWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;

	/* padding: 15px 0; */

  /* background-color: var(--color-system-background-100); */
}

@media only screen and (width <= 900px) {
	.introWrapper {
		grid-template-columns: 1fr;
	}
}

/* * */
/* QUICK SEARCH WRAPPER */

.quickSearchWrapper {
	background-color: var(--color-brand);
	border-radius: 18px;
}

@media only screen and (width <= 900px) {
	.quickSearchWrapper {
		display: none;
	}
}

/* * */
/* CAROUSEL WRAPPER */

.carouselWrapper {
	aspect-ratio: 16/9;
	overflow: hidden;
	border-radius: 18px;
}