/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

/* * */
/* STOP NAME */

.stopName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-7);
  line-height: 1.3;
}

.isSelected .stopName {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray-7);
  line-height: 1.3;
}

/* * */
/* STOP LOCATION */

.stopLocation {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-5);
}

.isSelected .stopLocation {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-5);
}
