/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* * */
/* CONTAINER */

.toggle {
  display: flex;
  width: 100%;
  padding: var(--size-xs);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--gray6);
  border-radius: 999px;
  cursor: pointer;
  transition: all 300ms ease;
}

.toggle:hover {
  background-color: var(--gray0);
  color: var(--gray9);
}
