/* * */
/* INNER WRAPPER */

.innerWrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: var(--size-spacing-20);
	width: 100%;
}

@media (width <= 1000px) {
	.innerWrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media (width <= 650px) {
	.innerWrapper {
		grid-template-columns: 1fr;
	}
}