/* * */
/* CONTAINER */

.container {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-system-text-100);
  opacity: 0.15;
  line-height: 1.2;
  text-align: center;
}

/* * */
/* IF SHOULD FILL CONTAINER */

.fill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* * */
/* WITH MIN HEIGHT */

.withMinHeight {
  padding: var(--size-spacing-30);
}
