/* * */
/* CAROUSEL ITEM */

.carouselItem {
    padding-left: var(--size-spacing-20);
}

/* * */
/* DISCLAIMER */

.disclaimer {
	display: block;
	font-size: 12px;
	max-width: var(--size-width-heading);
    color: var(--color-system-text-400);
    padding: 20px;
}

.disclaimer:hover {
    text-decoration: underline;
}

.tripPlannerContainer {
    background-color: var(--color-primary-black);
    
    & h1 {
        color: var(--color-brand);
    }
}