/* * */

/**
 * HEADER HEIGHT
 * Header must have fixed height to make it easier to
 * center elements inside it, allow for full height menus
 * and compensate for the fixed positioning.
 */

.spacer {
	display: block;
	height: var(--size-height-header);
}

/* * */

/* CONTAINER */

.container {
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	width: 100%;
}

/* * */

/* MAIN WRAPPER */

.mainWrapper {
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-30);
	justify-content: space-between;
	width: 100%;
	max-width: var(--size-width-global);
	height: 100%;
	margin: auto;
	background-color: var(--color-system-background-100);
	border-bottom: 1px solid var(--color-system-border-100);
}

/* * */

/* NAV WRAPPER */

.navWrapper {
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-30);
	justify-content: flex-end;
	width: 100%;
}