/* * */
/* CONTAINER */

.container {
	position: sticky;
	top: 0;
	z-index: 100;
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-20);
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	background-color: var(--color-system-background-100);
	border: 1px solid var(--color-system-border-100);
	border-radius: var(--border-radius-lg);
	transition: all 400ms ease;
}

.container.isSticky {
	width: calc(100% + 40px);
	border-top-color: transparent;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0 0 40px 0 rgb(0 0 0 / 7%);
	transform: translate(-20px, 0);
}

@media screen and (width <= 500px) {
	.container,
	.container.isSticky {
		width: 100%;
		margin: 0;
		border: none;
		border-bottom: 1px solid var(--color-system-border-100);
		border-radius: 0;
		box-shadow: none;
		transform: none;
	}
}

/* * */
/* NAV WRAPPER */

.navWrapper {
	display: flex;
	flex-direction: row;
	gap: var(--size-spacing-30);
	justify-content: flex-end;
	width: 100%;
}