.panel {
	color: var(--color-system-text-200);
	font-size: var(--font-size-text) + 2px;
	padding: var(--gap);
	white-space: pre-line;

	& a {
		color: var(--color-system-text-200);
		text-decoration: underline;
	}
}
