/* * */

/* MENU ITEM TARGET */

.menuItemTarget {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: var(--size-spacing-30);
	padding-left: var(--size-spacing-30);
	font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-subtitle);
	cursor: pointer;
}

.menuItemTarget:hover,
.menuItemTarget.isOpen {
	z-index: 500;
	color: var(--color-primary-black);
	background-color: var(--color-brand);
}

/* * */

/* MENU DROPDOWN */

.menuDropdown {
	padding: 0;
	background-color: var(--color-system-background-100);
	border: none;
	border-radius: 0;
	box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
}