/* * */
/* CONTAINER */

.container {
	display: grid;
	grid-template:
		"a b" minmax(300px, auto) / 1fr 1fr;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	min-height: 100vh;
}

@media screen and (width <= 1000px) {
	.container {
		grid-template:
			"b" minmax(200px, auto) [b_]
			"a" auto [a_] / 1fr;
		min-height: unset;
	}
}

/* * */
/* LIST WRAPPER */

.listWrapper {
	display: flex;
	flex-direction: column;
	grid-area: b;
	align-items: flex-start;
	justify-content: flex-start;
	contain: paint;
}

/* * */
/* MAP WRAPPER */

.mapWrapper {
	position: sticky;
	top: var(--size-height-header);
	grid-area: a;
	height: 100%;
	max-height: calc(100vh - var(--size-height-header));;
}

@media screen and (width <= 1000px) {
	.mapWrapper {
		position: static;
	}
}