/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;

}

/* * */
/* STOP NAME */

.stopName{
	font-size: 15px;
	max-width: 400px;
	line-height: 1.3;
	font-weight: var(--font-weight-bold);
    color: var(--color-system-text-100)
}

/* * */
/* SUB-HEADER WRAPPER */

.subHeaderWrapper {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

/* * */
/* STOP LOCATION */

.stopLocation{
	font-size: 14px;
	font-weight: var(--font-weight-semibold);
    color: var(--color-system-text-300);
	vertical-align: text-bottom;
}

/* * */
/* STOP ID */

.stopId {
	font-size: 12px;
	transform: translate(0, 1px);
	margin-left: var(--size-spacing-10);
	font-weight: var(--font-weight-semibold);
	color: var(--color-system-text-400);
	transition: all 200ms ease;
}

.isSelected .stopId:hover {
	cursor: pointer;
	color: var(--color-system-text-200);
}

.stopIdCopyIcon {
	width: 11px;
	height: 11px;
	color: transparent;
	margin-left: 3px;
	margin-bottom: 2px;
	vertical-align: text-bottom;
	transition: all 200ms ease;
}

.isSelected .stopId:hover .stopIdCopyIcon {
	color: var(--color-system-text-200);
}

.isSelected .stopId.isCopied,
.isSelected .stopId.isCopied .stopIdCopyIcon {
	color: var(--color-status-ok-text);
}


/* * */
/* FACILITIES WRAPPER */

.facilitiesWrapper {
	display:flex;
	flex-direction: row;
    gap: var(--size-spacing-10);
    margin-top: var(--size-spacing-5);
}