/* * */
/* VERSION */

.version {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.3;
  transition: all 300ms ease;
  text-align: center;
}

.version:hover {
  opacity: 0.4;
  text-decoration: none;
}

@media (max-width: 900px) {
  .version {
    width: 100%;
  }
}
