/* * */
/* Title */
.title {
	margin-top: var(--size-spacing-10);
	margin-bottom: var(--size-spacing-10);
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-title);
	color: var(--color-system-text-100);
}

/* * */
/* What Is Content Container */
.whatIsContentContainer {
	padding-bottom: var(--size-spacing-20);
}

/* * */
/* Content */
.content {
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-text);
	color: var(--color-system-text-200);
}

/* * */
/* Where Available Content Container */
.whereAvailableContentContainer {
	margin-top: var(--size-spacing-20);
	margin-bottom: var(--size-spacing-20);
}

/* * */
/* Where Available Subcontent Container */
.subcontentContainer {
	margin-top: var(--size-spacing-20);
}

/* * */
/* Where AvailableSubcontent Text */
.subcontentText {
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-text);
	color: var(--color-system-text-200);
}

/* * */
/* Where Available Subcontent Image */
.subcontentImage {
	width: 100%;
	height: 100%;
	margin-top: var(--size-spacing-20);
	margin-bottom: var(--size-spacing-20);
	object-fit: contain;
}

/* * */
/* Where Available Vehicles List Map Container */
.vehiclesListMapContainer {
	width: 100%;
	height: 300px;
	margin-top: var(--size-spacing-20);
}

/* * */
/* Where Available Button */
.button {
	display: flex;
	width: fit-content;
	margin-inline: auto;
	margin-top: var(--size-spacing-40);
}	