.accordion {
	gap: var(--size-spacing-10);
	width: 100%;
	padding: var(--size-spacing-20);
	background-color: var(--color-system-background-100);
	border: 1px solid var(--color-system-border-100);
	border-radius: var(--border-radius-lg);
}

.accordionControl {
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-title);
	color: var(--color-system-text-100);
}


/* * */
/* Image */
@media (width <= 650px) {
	.image {
		width: 100%;
        height: auto;
        object-fit: cover;
	}
}

@media (width > 650px) {
	.image {
	width: 100%;
    height: auto;
    object-fit: cover;
	}
}

.accordionItem {
	border:none;
}	