/* * */
/* CONTAINER */

.container {
  position: relative;
  display: grid;
  grid-template-columns: 14px 14px 1fr;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1px;
  transition: all 200ms ease;
  cursor: pointer;
  background-color: var(--gray0);
}

.container:hover {
  background-color: var(--reference-0);
}

.container.selected {
  background-color: var(--reference-0);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  cursor: default;
}

/* * */
/* STOP INFO */

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 14px;
  gap: var(--size-lg);
}

@media (max-width: 600px) {
  .info {
    padding-top: 23px;
  }
}

.header,
.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: var(--size-sm);
}

.ids {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
