/* * */
/* CONTAINER */

.container {
  position: relative;
  display: grid;
  grid-template-columns: 14px 14px 1fr;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1px;
  transition: all 200ms ease;
  cursor: pointer;
  background-color: var(--reference-0);
}

.container:hover {
  background-color: var(--gray0);
}

.container.selected {
  background-color: var(--reference-0);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  cursor: default;
}

/* * */
/* INNER WRAPPER */

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 15px 14px;
  gap: 20px;
}

.selected .innerWrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* * */
/* STOP INFO & CONTENT */

.stopInfo,
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 7px;
}

/* * */
/* STOP INFO */

.stopInfo {
  gap: 3px;
}

/* * */
/* LABEL */

.label {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--gray-5);
}

@media (max-width: 600px) {
  .label {
    font-size: 11px;
  }
}
/* * */
/* * */
/* * */
/* * */

.ids {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.openTimetable {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid var(--gray3);
  background-color: var(--gray1);
  cursor: pointer;
}

/* * */
/* DESKTOP & MOBILE */

.onlyDesktop {
  display: inherit;
}
.onlyMobile {
  display: none;
}

@media (max-width: 900px) {
  .onlyDesktop {
    display: none;
  }
  .onlyMobile {
    display: inherit;
  }
}
