/* * */
/* CONTAINER */

.container {
  background-color: var(--gray1);
  border-radius: 4px;
  overflow: hidden;
}

/* * */
/* INNER WRAPPER */

.innerWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 3px;
  padding: 3px;
}

@media (max-width: 600px) {
  .innerWrapper {
    grid-template-columns: 1fr;
  }
}

/* * */
/* BUTTONS & INPUT */

.button,
.input {
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: var(--gray6);
  background-color: var(--gray1);
  transition: all 200ms ease;
  cursor: pointer;
  padding: 6px 10px;
  line-height: 1;
  min-height: unset;
}

.button:hover,
.input:hover {
  background-color: var(--reference-0);
}

.button.isSelected,
.input.isSelected {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

/* * */
/* BUTTONS */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.isSelected {
  cursor: default;
  color: var(--reference-1);
  background-color: var(--reference-0);
}

/* * */
/* INPUT */

.input.isSelected {
  color: var(--reference-1);
  background-color: var(--reference-0);
}
