.button {
    transition: all 300ms ease-in;
}

.primary {
	background-color: var(--color-brand);
	color: var(--color-primary-black);
}

.primary:hover {
	background-color: var(--color-brand);
    border-color: var(--color-system-text-200);
}

.info {
    background-color: var(--color-status-info-background);
    border-color: var(--color-status-info-border);
    color: var(--color-status-info-text);
}

.ok {
    background-color: var(--color-status-ok-background);
    border-color: var(--color-status-ok-border);
    color: var(--color-status-ok-text);
}

.warning {
    background-color: var(--color-status-warning-background);
    border-color: var(--color-status-warning-border);
    color: var(--color-status-warning-text);
}

.danger {
    background-color: var(--color-status-danger-background);
    border-color: var(--color-status-danger-border);
    color: var(--color-status-danger-text);
}