/* * */
/* INFO BAR */

.infoBar {
	display: flex;
	flex-flow: row wrap;
	gap: var(--size-spacing-20);
	align-items: center;
	justify-content: flex-start;
}

/* * */
/* CONTENT WRAPPER */

.contentWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-20);
	align-items: flex-start;
	justify-content: flex-start;
	max-width: var(--size-max-width-text);
	min-height: 250px;
}


/* * */
/* DESCRIPTION */

.description {
	font-size: 18px;
	font-weight: var(--font-weight-text);
	line-height: 1.6;
	color: var(--color-system-text-100);
}

/* * */
/* IMAGE */

.image {
	overflow: hidden;
	border: 1px solid var(--color-system-border-200);
	border-radius: 5px;
}