/* * */
/* GRID NAV */

.gridNav {
	grid-template-columns: repeat(3, 1fr);
}

@media screen and (width <= 1000px) {
	.gridNav {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (width <= 650px) {
	.gridNav {
		grid-template-columns: 1fr;
	}
}