/* * */
/* CONTAINER */

.container {
	display: grid;
	grid-template:
		"a b" minmax(100vh, auto) / 1fr 1fr;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

@media (width < 1000px) {
	.container {
		grid-template:
			"a" 50vh [b_]
			"b" auto [a_] / 1fr;
	}
}

/* * */
/* MAP WRAPPER */

.mapWrapper {
	position: sticky;
	top: var(--size-height-header);
	grid-area: a;
	height: 100%;
	max-height: calc(100vh - var(--size-height-header));
	border-right: 1px solid var(--color-system-border-100);
}

@media (width < 1000px) {
	.mapWrapper {
		position: static;
		border: none;
	}
}