/* * */
/* INNER WRAPPER */

.innerWrapper {
	display: grid;
	grid-template-columns: auto 300px;
	gap: var(--size-spacing-20);
	width: 100%;
}

@media (width <= 900px) {
	.innerWrapper {
		grid-template:
			"b" auto [b_]
			"a" auto [a_];
	}
}