.root {
	box-sizing: border-box;
	flex-shrink: 0;
	align-self: stretch;
	width: 100%;
	min-width: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	border-top: var(--spacer-height, 20px) solid transparent;
}
