.cards {
	& p {
		color: var(--color-primary-black);
		font-size: var(--font-size-text) + 2px;
	}
}

.card {
	justify-content: space-between;
	height: 157px;
	background-color: var(--color-primary-white);
	color: var(--color-primary-black)
}

.imageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.image {
	height: 70%;
	width: 70%;
}
