.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  max-width: 65px;
  min-height: 26px;
  max-height: 26px;
  border-radius: 999px;
  color: #ffffff;
  background-color: var(--gray9);
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--reference-1);
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  line-height: 1.2;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-sm);
  /* width: 100%; */
}
