/* * */
/* BUTTON */

.button {
  outline: none;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 300ms ease;
}

.button:hover {
  transform: scale(1.03);
}
