/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

/* * */
/* STOP NAME */

.stopName {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-7);
  line-height: 1.3;
}

@media (max-width: 600px) {
  .stopName {
    font-size: 16px;
  }
}

.isSelected .stopName {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray-7);
  line-height: 1.3;
}

@media (max-width: 600px) {
  .isSelected .stopName {
    font-size: 18px;
  }
}

/* * */
/* STOP LOCATION */

.stopLocation {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-5);
}

@media (max-width: 600px) {
  .stopLocation {
    font-size: 14px;
  }
}

.isSelected .stopLocation {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-5);
}

@media (max-width: 600px) {
  .isSelected .stopLocation {
    font-size: 14px;
  }
}
