.mapWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px;
  width: 100%;
}

.availableStores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: var(--size-md);
  padding: var(--size-md);
}

@media (max-width: 800px) {
  .availableStores {
    grid-template-columns: 1fr;
  }
}
