/* * */
/* CONTAINER */

.container {
	padding: var(--size-spacing-20);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* * */
/* EMPTY MESSAGE */

.emptyMessage {
	font-size: 14px;
	font-weight: var(--font-weight-medium);
	color: var(--color-primary-black);
	opacity: 0.2;
	line-height: 1;
}
