/* * */
/* SEGMENTED CONTROL DATE INPUT OVERRIDE */

.segmentedControlDateInputOverrideControl label {
	width: 100%;
	padding-right: 35px;
	padding-left: 35px;
}

.segmentedControlDateInputOverrideControl:last-child label,
.segmentedControlDateInputOverrideControl[data-active="true"]:last-child label {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0;
}

@media screen and (width <= 650px) {
	.segmentedControlDateInputOverrideControl label {
		padding-right: var(--size-spacing-15);
		padding-left: var(--size-spacing-15);

	}
}

@media screen and (width <= 350px) {
	.segmentedControlDateInputOverrideControl label,
	.segmentedControlDateInputOverrideControl:last-child label {
		padding-top: var(--size-spacing-15);
		padding-bottom: var(--size-spacing-15);
	}
}

/* * */
/* DATE PICKER / WRAPPER */

.datePickerWrapper {
	--input-height-lg: unset;
}

/* * */
/* DATE PICKER / INPUT */

.datePickerInput {
	padding: calc(var(--size-spacing-15) - 15px) var(--size-spacing-15);
	padding-left: calc(var(--size-spacing-15) + 30px);
	font-size: 17px;
	font-weight: var(--font-weight-semibold);
	line-height: 1;
	color: var(--color-system-text-200);
	text-align: center;
	background: transparent;
	border: none;
}

.segmentedControlDateInputOverrideControl[data-active="true"] .datePickerInput {
	color: var(--color-system-text-100);
}

@media screen and (width <= 650px) {
	.datePickerInput {
		padding-left: calc(var(--size-spacing-15) + 26px);
		font-size: 14px;
	}
}

/* * */
/* DATE PICKER / SECTION */

.datePickerSection {
    display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	padding-left: var(--size-spacing-10);
	margin-top: -3px;
	color: var(--color-system-text-300);
	pointer-events: none;
}

.datePickerSection svg {
	width: 22px;
}

.segmentedControlDateInputOverrideControl[data-active="true"] .datePickerSection {
	color: var(--color-system-text-200);
}

@media screen and (width <= 650px) {
	.datePickerSection svg {
		width: 20px;
	}
}