/* * */
/* SEGMENTED CONTROL DATE INPUT OVERRIDE */

.segmentedControlDateInputOverride label {
	padding-right: 35px;
	padding-left: 35px;
}

.segmentedControlDateInputOverride:last-child label,
.segmentedControlDateInputOverride[data-active="true"]:last-child label {
	display: block;
	padding: 0;
}

/* * */
/* DATE PICKER / INPUT */

.datePickerInput {
	min-width: 175px;
	padding: var(--size-spacing-15) var(--size-spacing-15) var(--size-spacing-15) calc(var(--size-spacing-15) + 27px);
	font-size: 17px;
	font-weight: var(--font-weight-semibold);
	line-height: 1;
	color: var(--color-system-text-200);
	text-align: center;
	background: transparent;
	border: none;
}

.segmentedControlDateInputOverride[data-active="true"] .datePickerInput {
	color: var(--color-system-text-100);
}

/* * */
/* DATE PICKER / SECTION */

.datePickerSection {
    display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	padding-left: var(--size-spacing-10);
	margin-top: -3px;
	color: var(--color-system-text-300);
	pointer-events: none;
}

.segmentedControlDateInputOverride[data-active="true"] .datePickerSection {
	color: var(--color-system-text-200);
}