.link {
	color: var(--color-system-text-100);
	text-decoration: underline;
}

.linkButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--size-spacing-10);
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: var(--color-brand);
	color: var(--color-primary-black);
	font-weight: var(--font-weight-semibold);
	text-decoration: none;
	transition: all 200ms ease;
}

.linkButton:hover {
	border-color: var(--color-system-border-200);
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 3%);
}