.backgroundImageLayer {
	position: relative;
	z-index: 0;
	display: block;
	width: 100%;
	height: auto;
}

.backgroundOverlayLayer {
	position: absolute;
	inset: 0;
	z-index: 1;
	pointer-events: none;
	background: rgb(0 0 0 / 15.7%);
}

.withBackgroundImage {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	isolation: isolate;
}

.contentLayer {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	width: 100%;
}