/* INPUTS */
.toolbarContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

@media (width <= 650px){
    .toolbarContainer{
        grid-template-columns: 1fr;
        gap: 0;
    }
}

/* * */
/* INPUTS DESCRIPTION */
.toolbarDescription{
    margin-top: 20px;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    color: var(--color-system-text-200);
}