/* * */
/* VEHICLES COUNTER */

.vehiclesCounter {
    position: absolute;
    bottom: 12px;
    left: 15px;
    display: flex;
    gap:2px;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 4px 8px 4px 4px;
    font-size: 10px;
    font-weight: 600;
    color: var(--color-realtime-100);
    background-color: var(--color-system-background-100);
    border-radius: 1000px;
}

.vehiclesCounter.zeroCount {
	color: var(--color-system-text-300);
}