/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: var(--size-spacing-20);
	width: 100%;
	margin-bottom: var(--size-spacing-10);
}

.filters {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--size-spacing-10);
}

@media screen and (min-width: 1023px) {
	.filters {
		grid-template-columns: repeat(2, 1fr);
	}
}