/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-15);
}

.selectsWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--size-spacing-15);
}


@media screen and (max-width: 768px) {
	.selectsWrapper {
		grid-template-columns: 1fr;
	}
}
