html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  font-family: inter, sans-serif;
}

input,
textarea {
  user-select: text;
  -webkit-touch-callout: default;
}
