/* * */
/* HEADING WRAPPER */

.headingWrapper {
	display: flex;
	flex-direction: row;
    gap: var(--size-spacing-10);
    align-items: center;
    padding: var(--size-spacing-20);
	padding-bottom: 0;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    color: var(--color-status-info-text);
}