/* * */
/* TITLE */

.title {
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
}

/* * */
/* DESCRIPTION */

.description {
	max-width: var(--size-width-heading);
	font-size: var(--font-size-text);
	font-weight: var(--font-weight-text);
	color: var(--color-system-text-200);
}

/* * */
/* ACTIONS WRAPPER */

.actionsWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-10);
	margin-top: var(--size-spacing-5);
}