/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* * */
/* LABEL */

.label {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--gray-5);
}

@media (max-width: 600px) {
  .label {
    font-size: 11px;
  }
}

/* * */
/* ESTIMATES */

.estimates {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
