.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--size-xs);
  padding-left: 2px;
}

.estimate {
  font-size: 14px;
  font-weight: 600;
  color: var(--realtime-100);
}
