/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--size-spacing-10);
	background-color: var(--color-system-background-100);
	padding: var(--size-spacing-20);
	border-bottom: 1px solid var(--color-system-border-100);
	width: 100%;
	color: var(--color-system-text-100);
}

.container:hover {
	background-color: var(--color-system-background-200);
}

.container:active {
	background-color: var(--color-system-background-300);
}

.container:last-child {
	border-bottom: none;
}

@media (max-width: 500px) {
	.container,
	.container:hover,
	.container:active {
		padding: var(--size-spacing-15) var(--size-spacing-20);
	}
}

/* * */
/* ICON WRAPPER */

.iconWrapper {
	display: flex;
}

/* * */
/* CHILDREN WRAPPER */

.childrenWrapper {
	width: 100%;
}

/* * */
/* ARROW WRAPPER */

.arrowWrapper {
	display: flex;
	color: var(--color-system-text-400);
}

.container:hover .arrowWrapper {
	color: var(--color-system-text-300);
}