:root {

	/* * */
	/* COLOR / BRAND */

	--color-brand: #ffdd01;

	/* * */
	/* COLOR / DEBUG */

	--color-debug: #055252;

	/* * */
	/* COLOR / SYSTEM */

	--color-system-background-100: #ffffff;
	--color-system-background-200: #fafafa;
	--color-system-background-300: #f0f0f0;

	--color-system-border-100: #f0f0fa;
	--color-system-border-200: #bebec8;

	--color-system-text-100: #000000;
	--color-system-text-200: #5a5a64;
	--color-system-text-300: #9696a0;
	--color-system-text-400: #d2d2dc;

	/* * */
	/* COLOR / PRIMARY */

	--color-primary-white: #ffffff;
	--color-primary-black: #000000;

	/* * */
	/* COLOR / STATUS */

	--color-status-info-background: #F5FAFF;
	--color-status-info-border: #DCE6F0;
	--color-status-info-text: #054B8C;
	--color-status-info-shadow: #054b8c80;

	--color-status-ok-background: #EBF5EB;
	--color-status-ok-border: #D7EBD7;
	--color-status-ok-text: #2D8C3C;
	--color-status-ok-shadow: #2D8C3C80;

	--color-status-warning-background: #FFFAF5;
	--color-status-warning-border: #FFF0D7;
	--color-status-warning-text: #F09600;
	--color-status-warning-shadow: #F0960080;

	--color-status-danger-background: #FFF5F5;
	--color-status-danger-border: #FAE6DC;
	--color-status-danger-text: #e64b23;
	--color-status-danger-shadow: #e64a2380;

	/* * */
	/* COLOR / REALTIME */

	--color-realtime-0: rgba(0, 215, 50, 0);
	--color-realtime-5: rgba(0, 215, 50, 0.05);
	--color-realtime-15: rgba(0, 215, 50, 0.15);
	--color-realtime-25: rgba(0, 215, 50, 0.25);
	--color-realtime-50: rgba(0, 215, 50, 0.5);
	--color-realtime-75: rgba(0, 215, 50, 0.75);
	--color-realtime-100: rgba(0, 205, 50, 1);

	/* * */
	/* SIZE / WIDTH */

	--size-width-global: 1200px;
	--size-width-heading: 700px;

	--size-height-header: 50px;

	/* * */
	/* SIZE / SPACING */

	--size-spacing-5: 5px;
	--size-spacing-10: 10px;
	--size-spacing-15: 15px;
	--size-spacing-20: 20px;
	--size-spacing-25: 25px;
	--size-spacing-30: 30px;
	--size-spacing-40: 40px;
	--size-spacing-60: 60px;

	/* * */
	/* FONT */

	--font-weight-extrabold: 800; /* ExtraBold */
	--font-weight-bold: 700; /* SemiBold */
	--font-weight-semibold: 600; /* SemiBold */
	--font-weight-medium: 500; /* Medium */

	--font-size-heading: 26px;
	--font-weight-heading: 700; /* Bold */

	--font-size-title: 20px;
	--font-weight-title: 600; /* SemiBold */

	--font-size-subtitle: 18px;
	--font-weight-subtitle: 600; /* SemiBold */

	--font-size-nav: 16px;
	--font-weight-nav: 600; /* SemiBold */

	--font-size-text: 14px;
	--font-weight-text: 500; /* Medium */

	--font-size-muted: 12px;
	--font-weight-muted: 500; /* Medium */

	/* * */
	/* COLOR / ALERTS */

	--color-alerts-0: #3D85C6;
	--color-alerts-1: #00CD32;
	--color-alerts-2: #F5A000;
	--color-alerts-3: #E64B23;

}

/* * */

@media (prefers-color-scheme: dark) {
  :root {

		/* * */
		/* COLOR / SYSTEM */

		/* original */
		/* --color-system-background-100: hsl(240, 8%, 25%);
		--color-system-background-200: hsl(240, 9%, 22%);
		--color-system-background-300: hsl(240, 11%, 18%);

		--color-system-border-100: hsl(240, 6%, 33%);
		--color-system-border-200: hsl(240, 4%, 53%); */

		/* tailwind-neutral */
		/* --color-system-background-100: #404040;
		--color-system-background-200:#262626;
		--color-system-background-300: #171717; */

		/* just gray */
		/* --color-system-background-100: hsl(0, 0%, 18%);
		--color-system-background-200: hsl(0, 0%, 14%);
		--color-system-background-300: hsl(0, 0%, 10%); */


		/* blueish - fav*/
		/* --color-system-background-100: hsl(240, 8%, 17%);
		--color-system-background-200: hsl(240, 8%, 14%);
		--color-system-background-300: hsl(240, 8%, 13%);


		--color-system-border-100: hsl(240, 8%, 30%);
		--color-system-border-200: hsl(240, 8%, 35%); */

		/* cmetish */
		/* --color-system-background-100: hsl(52, 8%, 13%);
		--color-system-background-200: hsl(52, 8%, 10%);
		--color-system-background-300: hsl(52, 8%, 8%); */

		/* complimentary cmetish */
		/* --color-system-background-100: hsl(232, 8%, 17%);
		--color-system-background-200: hsl(232, 8%, 14%);
		--color-system-background-300: hsl(232, 8%, 13%);

		--color-system-border-100: hsl(232, 8%, 30%);
		--color-system-border-200: hsl(232, 8%, 35%); */


		/* blueish */
		/* --hs: 240, 8%; */

		/* complimentary cmetish */
		/* --hs: 232, 8%; */

		--hsl: hsl(232, 8%, 12%);

		--color-system-background-100: hsl(from var(--hsl) h s calc(l * 18/13));
		--color-system-background-200: hsl(from var(--hsl) h s calc(l * 15/13));
		--color-system-background-300: var(--hsl);

		--color-system-border-100: hsl(from var(--hsl) h s calc(l * 27/13));
		--color-system-border-200: hsl(from var(--hsl) h s calc(l * 37/13));



		--color-system-text-100: #ffffff;
		--color-system-text-200: #c8c8d2;
		--color-system-text-300: #8c8c96;
		--color-system-text-400: #64646e;

		/* * */
		/* COLOR / STATUS */

		--color-status-info-background: #3c495d;
		--color-status-info-border: #525868;
		--color-status-info-text: #84c1fb;
		--color-status-info-shadow: #6bb5fa80;

		--color-status-ok-background: #EBF5EB;
		--color-status-ok-border: #D7EBD7;
		--color-status-ok-text: #2D8C3C;
		--color-status-ok-shadow: #2D8C3C80;

		--color-status-warning-background: #FFFAF5;
		--color-status-warning-border: #FFF0D7;
		--color-status-warning-text: #F09600;
		--color-status-warning-shadow: #F0960080;

		--color-status-danger-background: #FFF5F5;
		--color-status-danger-border: #FAE6DC;
		--color-status-danger-text: #e64b23;
		--color-status-danger-shadow: #e64a2380;

		/* * */
		/* COLOR / ALERTS */

		--color-alerts-0: #3D85C6;
		--color-alerts-1: #00CD32;
		--color-alerts-2: #F5A000;
		--color-alerts-3: #E64B23;

  }
}

/* * */

@media (prefers-color-scheme: dark) {
	theme-light {
		display: none;
  }
}

@media (prefers-color-scheme: light) {
	theme-dark {
		display: none;
  }
}

/* * */

@media only screen and (max-width: 900px) {
	only-desktop {
		display: none;
	}
}

@media only screen and (min-width: 901px) {
	only-mobile {
		display: none;
	}
}

/* * */

@media (max-width: 500px) {
  :root {

		/* * */
		/* FONT */

		--font-size-heading: 26px;

		--font-size-title: 20px;

		--font-size-text: 14px;

		--font-size-muted: 12px;

  }
}
