/* * */
/* MENU ITEM */

.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  padding: 6px;
}

.realtime {
  background-color: var(--realtime-5);
}
