.section {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.sectionHeader {
	font-size: 14px;
	font-weight: var(--font-weight-bold);
	color: var(--color-system-text-100);
	text-transform: uppercase;
}

.sectionContent {
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 500;
	color: var(--color-system-text-200);
}