/* * */
/* IS OPEN */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  padding: var(--size-sm) var(--size-lg) var(--size-sm) var(--size-md);
  background-color: var(--gray-1);
  border-radius: 3px;
}

/* * */
/* TITLE */

.title {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

/* * */
/* ROW */

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-xs);
}

/* * */
/* LABEL */

.label {
  font-weight: 500;
  font-size: 14px;
}

/* * */
/* TEXT */

.text {
  font-weight: 400;
  font-size: 15px;
}
