/* * */
/* CONTAINER */

.container {
  padding-top: 17px;
  background-color: var(--gray2);
}

.container.isSelected {
  padding-top: 34px;
}

.container.start {
  margin-top: 17px;
  padding-top: 0;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}

.container.start.isSelected {
  margin-top: 34px;
}

.container.end {
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  height: 31px;
}

.container.end.isSelected {
  height: 48px;
}

/* * */
/* SPINE ICON */

.spineIcon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.spineIconOuter {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.spineIconInner {
  border: 2px solid #ffffff;
  border-radius: 999px;
  padding: 0;
  transition: all 50ms ease;
}

.isSelected .spineIconInner {
  border-width: 4px;
}
