/* * */
/* CONTAINER */

.container {
  background-color: blue;
  padding-top: 20px;
}

/* * */
/* SPINE */

.spine {
  padding-top: 25px;
  background-color: var(--gray2);
}

.spine.start {
  margin-top: 25px;
  padding-top: 0;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}

.spine.end {
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  height: 39px;
}

/* * */
/* SPINE ICON */

.spineIcon {
  display: flex;
  align-items: flex-start;
}

.spineIconOuter {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.spineIconInner {
  border: 2px solid #ffffff;
  border-radius: 999px;
  padding: 0;
  transition: all 50ms ease;
}

.isSelected .spineIconInner {
  border-width: 4px;
}
