/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
  padding: var(--size-lg);
  background-color: var(--carris-metropolitana);
}

/* * */
/* FILTERS */

.filters {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--size-lg);
}

@media (max-width: 900px) {
  .filters {
    grid-template-columns: 1fr;
  }
}
