/* * */
/* CONTAINER */

.container {
  padding:0
}

.search {
  display: flex;
  padding: var(--size-md);
  flex-direction: row;
  gap: var(--size-md);
  background-color: var(--carris-metropolitana);
}

@media (max-width: 900px) {
  .search {
    flex-direction: column;
    height: auto;
    /* padding-left: var(--size-lg);
    padding-right: var(--size-lg); */
  }
}

/* Alerts.module.css */
.alertsContainer {
  display: flex;
  gap: 4px;
  border-top: 1px solid var(--gray-3);
}

.alertDate {
  color: var(--gray-4);
  font-weight: 500;
  font-size: var(--font-md);
  padding-top: 20px;
  padding-left: 12px;
}

.alertsContent {
  flex-grow: 1;
}
